@import '../common/vars';

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 10px;

  .top-dashboard-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
  }

  .mid-dashboard-section {
    display: flex;
    gap: 20px;

    @include for-phone-only {
      flex-direction: column;
    }
  }
}
