@import '../common/vars';

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 77vh;
  overflow: auto;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    outline: 0 solid transparent;
    border-radius: 10px;
  }

  .top-dashboard-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
  }

  .mid-dashboard-section {
    display: flex;
    gap: 20px;
  }
}
