@import '../common/vars';

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 10px;

  h1 {
    font-weight: 700;
  }

  .top-dashboard-section {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));

    @include for-phone-only {
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
  }

  .mid-dashboard-section {
    display: flex;
    gap: 20px;

    @include for-phone-only {
      flex-direction: column;
    }
  }
}
