@import '../common/vars';

.filters-wrapper {
  display: flex;
  gap: 20px;

  .search-wrapper {
    font-size: 12px;
    background-color: $background;
    color: $secondary-text-color;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      all: unset;
      border: none;
      background-color: inherit;
    }
  }

  .select {
    padding: 10px;
    background-color: $background;
    border-radius: 8px;
    width: 160px;
    border: none;
    font-size: 12px;
    color: $secondary-text-color;
  }
}
