@import '../common/vars';

.filters-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include for-phone-only {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 10px;
  }

  .search-wrapper {
    font-size: 12px;
    background-color: $background;
    color: $secondary-text-color;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 229px;

    @include for-phone-only {
      max-width: none;
      width: auto;
      min-height: 52px;
    }

    input {
      all: unset;
      border: none;
      background-color: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .select {
    padding: 10px;
    background-color: $background;
    border-radius: 8px;
    max-width: 160px;
    border: none;
    font-size: 12px;
    color: $secondary-text-color;
  }
}
