@import '../common/vars';

.main-wrapper {
  width: 100%;
  background-color: $background;
  overflow: auto;
  padding: 28px 15px 22px 25px;
  margin: 0 3px;

  @include for-phone-only {
    margin: 0;
  }

  &::-webkit-scrollbar {
    width: 6px;

    @include for-phone-only {
      display: none;
    }
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-text-color;
    outline: 0 solid transparent;
    border-radius: 10px;
  }

  h1 {
    font-size: 25px;
  }
}
