@import '../common/vars';

.sidebar-header {
  display: flex;
  justify-content: center !important;
  position: relative;

  button {
    position: absolute;
    right: 25px;
    top: 25px;
  }

  .logo {
    padding: 30px 30px 0 30px;
    text-align: center;
  }
}

.body-wrapper {
  padding: 0 !important;
  div {
    width: 100%;
  }
}
