@import '../common/vars';

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .right-data {
    display: flex;
    align-items: center;
    gap: 10px;

    .pagination {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 7px 15px;
        border-radius: 5px;
        color: $secondary-text-color;
      }

      .active {
        color: $white;
        background-color: $hover-text-color;
      }
    }
  }
}
