@import '../common/vars';

.properties-page-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;

  .topData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-320-phone-only {
      align-items: flex-start;
      // flex-direction: column;
    }

    h1 {
      font-size: 25px;
      font-weight: 700;
      color: $primary-text-color;
    }

    .add-property {
      border: none;
      display: flex;
      align-items: center;
      padding: 13px 20px;
      gap: 10px;
      width: auto;
      background-color: $hover-text-color;
      border-radius: 10px;
      transition: all ease 0.3s;
      color: $white;

      @include for-320-phone-only {
        padding: 10px;
      }

      span {
        font-size: 14px;

        @include for-320-phone-only {
          font-size: 12px;
        }
      }

      &:hover {
        opacity: 80%;
      }
    }
  }

  .properties-list {
    width: 100%;
    background-color: $white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include for-320-phone-only {
      padding: 10px;
    }

    .properties-wrapper {
      display: grid;
      grid-gap: 65px;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

      @include for-phone-only {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
