@import '../common/vars';

.referrals-wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;

  .title {
    font-size: 18px;
    font-weight: 600;
  }
  .referrals {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .referral {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .referrals-title {
        display: flex;
        justify-content: space-between;
      }

      .progress-bar {
        height: 8px;
        background-color: $bar-gray;
        border-radius: 4px;
        position: relative;

        .progress-width {
          height: 8px;
          border-radius: 4px;
          position: absolute;
        }
      }
    }
  }
}
