@import '../../../styles/common/vars';

.custom-slick-list {
  margin: 0 50px;

  @include for-phone-only {
    margin: 0 30px;
  }
  .slick-slide > div {
    padding: 0 12px;
  }
}

.prevArrow {
  width: 38px !important;
  height: 38px !important;
  background-color: $white !important;
  box-shadow: 0px 6px 11px rgba(133, 123, 123, 0.1);
  border-radius: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  left: -45px !important;

  @include for-320-phone-only {
    left: -37px !important;
  }

  &::before {
    content: '' !important;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.nextArrow {
  width: 38px !important;
  height: 38px !important;
  background-color: $white !important;
  box-shadow: 0px 6px 11px rgba(133, 123, 123, 0.1);
  border-radius: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  right: -45px !important;

  @include for-320-phone-only {
    right: -37px !important;
  }

  &::before {
    content: '' !important;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.slick-list {
  background-color: black !important;
}
